
# BEGIN BuddyPress Docs
RewriteEngine On
RewriteBase /agora/mastersec/docs/justificant-dabsencia-per-motius-de-salut-o-consulta-medica/
RewriteRule (.+) ?bp-attachment=$1 [R=302,NC]
# END BuddyPress Docs
