
# BEGIN BuddyPress Docs
RewriteEngine On
RewriteBase /agora/masterpri/docs/autoritzacio-us-de-serveis-i-recursos-digitals-a-laula-menors-de-14-anys/
RewriteRule (.+) ?bp-attachment=$1 [R=302,NC]
# END BuddyPress Docs
