
# BEGIN BuddyPress Docs
RewriteEngine On
RewriteBase /agora/masterssee/docs/informacio-sobre-documentacio-tramits-i-avaluacio-de-les-activitats/
RewriteRule (.+) ?bp-attachment=$1 [R=302,NC]
# END BuddyPress Docs
